@tailwind base;
@tailwind components;
@tailwind utilities;


/* In your global CSS file (e.g., index.css) */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensures no extra scrolling */
  background-color: #f3f4f6; /* Match the Tailwind gray-100 */
}